<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="World_Yachts.Properties.Settings._16is13ConnectionString"
            connectionString="Data Source=SQLSTUD\SQLEXPRESS;Initial Catalog=16is13;Persist Security Info=True;User ID=16is13;Password=16is13"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>